*{
	margin:5px 5px 5px 5px;
	

	border-radius: 6px;
}
.wrap{
	width:auto;
	font-family: sans-serif;
	font-size: 20px;
	background-color: black;
	color: white;
	margin:auto;
	border-radius: 6px;

	
}
.a p{
	background-image: url(hero_unit.jpeg);
	width: auto;



}
.a{
	background-image: url(hero_unit.jpeg);
	height: 300px;
	
	width: auto;

}
.child{
	align-content: center;
	display: inline-block;
}
.b{
	float:right;
}
.col{
	display: -webkit-flex
-webkit-flex-justify-content: center;
display: flex;
justify-content: center;
	

}
.col1{
	width:auto;
	
	float:left;
}
.col2{
	width:auto;
}
.col3{
	width:auto;
	float:right;
}

.hd{
	text-shadow: 1px 1px 1px black;
}
.menu{
	text-align: right;

}
 li{
	padding-left: 40px;
  display: inline-block;
  
}
a{
	text-decoration: none;
}
ul a:hover
{
	text-decoration: underline;
	color: black;
}
.cc{

	text-align: right;
	background-color: grey;
	color: black;
}
.mfoot{
	display: -webkit-flex
-webkit-flex-justify-content: center;
display: flex;
justify-content: center;
	background-color: grey;

}
.foot{
	width:70%;
	
	float:left;
}

.foot1{
	width:15%;
	float:right;
}
.foot2{
	width:15%;
	float:right;
}
.foot3{
	width:15%;
	float:right;
}
.foot4{
	width:15%;
	float:right;
}
img{color: transparent;
  font-size: 0;
  vertical-align: middle;
}